---
layout: archive
author_profile: true
title: Welcome to Bootloader Blog
excerpt: Kyle Manna's personal blog covering embedded systems, Linux, entrepreneurship and other musings.
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: splash-pcb-kernel-driver_1200x630.jpg
---
{% include base_path %}

<h2>Welcome to my blog</h2>

I ramble about things that amuse me. One day the blog might develop some structure, until then it will remain scatter brained.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
