---
layout: archive
author_profile: true
title: Welcome to Bootloader Blog
excerpt: {{ site.description }}
---
{% include base_path %}

<h2>Career</h2>

<p>In a nutshell, I'm the guy that makes embedded devices come to life the first time, ensures the low-level operating system code runs reliably, and ensure that the embedded device can be a product that can be manufactured in volume.</p>

<p>I have years of experiencing implementing open source solutions on a variety of embedded devices ranging from military, industrial and consumer products.  These open source solutions range from low-level boot loaders and kernel drivers to high-level libraries interfaces to those device drivers.</p>

<p>Competent hardware debugging make me the go to guy for first time hardware development and board bring up.  My understanding of both software and hardware also make me the guy for overseas factory assembly and configuration of embedded devices as they transition to real products.</p>

<p>I have an interest in shaping build systems to build the software and embedded firmware for embedded devices in a reliable manner leveraging existing technologies and source control management tools.</p>

<h2>Free Time</h2>
Outside of work I hack on opensource software, drones ( or UAVs / quadcopters / multicopters if you like), cycling and dream of doing my own thing someday.

<h2>This Blog</h2>

This is my simple blog. I ramble about things that amuse me. One day it might develop some structure, until then it will remain scatter brained.

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
